services:
  backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: rag-backend
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app/backend
    restart: always

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: rag-frontend
    ports:
      - "5173:80"
    depends_on:
      - backend
    restart: always
