/* RESET template CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #0b0712;
  color: white;
  font-family: system-ui, sans-serif;
}

#root {
  min-height: 100vh;
  width: 100%;
}
